.button {
  background-color: #525b64;
  border: 0;
  border-radius: 5px;
  color: #fff;
  display: inline-block;
  font-weight: 700;
  line-height: normal;
  overflow: hidden;
  padding: .8em 2em;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.button:active,
.button:hover {
  color: #fff;
  background-color: #3f464c;
  text-decoration: none;
}

.button-primary {
  background-color: #f8504d;
}

.button-primary:hover,
.button-primary:active {
  background-color: #f53a37;
}

.button-link {
  background: transparent;
  border: 0;
  color: #2cc7c1;
  padding: 0;
  text-decoration: underline;
}

.button-link:hover {
  text-decoration: none;
}

.button-link:active {
  outline: 0;
}

.button-group .button {
  margin-right: 10px;
}
